---
- name: Configure hostname on ios
  cisco.ios.ios_hostname:
    config:
      hostname: "{{ inventory_hostname }}"

- name: Delete all lldp global on ios
  cisco.ios.ios_lldp_global:
    state: deleted

- name: Delete all lacp interfaces on ios
  cisco.ios.ios_lacp_interfaces:
    state: deleted
