---
- name: Configure hostname on vyos
  vyos.vyos.vyos_hostname:
    config:
      hostname: "{{ inventory_hostname }}"

- name: Push min interfaces to vyos
  vyos.vyos.vyos_interfaces:
    state: overridden
    config:
      - name: eth0
        enabled: true
      - name: eth1
        enabled: true
      - name: lo
        enabled: true

- name: Delete lldp global on vyos
  vyos.vyos.vyos_lldp_global:
    state: deleted

- name: Delete ospfv2 routes attributes configuration on vyos
  vyos.vyos.vyos_ospfv2:
    state: deleted

- name: Delete ospfv3 routes attributes configuration on vyos
  vyos.vyos.vyos_ospfv3:
    state: deleted
