include README.md
include *.yml
include .DS_Store
include .config/ansible-lint.yml
include .github/workflows/ansible-lint.yml
recursive-exclude .git *
recursive-include collections *.yml
recursive-include roles *
recursive-include backup *
recursive-include vars *