include README.md
include *.yml
include .DS_Store
include .vscode/extensions.json
include devfile.yaml
recursive-exclude .git *
recursive-include collections *.yml
recursive-include roles *
recursive-include vars *
