---
- name: Ensure podman, podman plugins are installed
  ansible.builtin.dnf:
    name:
      - podman
    state: present

- name: Open Firewalld for host1 ssh
  ansible.posix.firewalld:
    port: 8080/tcp
    permanent: true
    state: enabled

- name: Open Firewalld for host2 ssh
  ansible.posix.firewalld:
    port: 8081/tcp
    permanent: true
    state: enabled

- name: Open Firewalld for telegraf host1
  ansible.posix.firewalld:
    port: 8082/tcp
    permanent: true
    state: enabled

- name: Open Firewalld for telegraf host2
  ansible.posix.firewalld:
    port: 8083/tcp
    permanent: true
    state: enabled

- name: Restart Firewalld
  ansible.builtin.service:
    name: firewalld
    state: restarted

- name: Ensure networks exist
  containers.podman.podman_network:
    name: "{{ item }}"
    state: present
  loop:
    - net1
    - net2
    - net3
    - net4

- name: Deploy Ceos1 Service file
  ansible.builtin.copy:
    src: files/ceos1.service
    dest: /etc/systemd/system/container-ceos1.service
    mode: "0644"
    group: root
    owner: root

- name: Start and enable Ceos1 podman service
  ansible.builtin.service:
    name: container-ceos1.service
    state: started
    enabled: true

- name: Deploy Ceos2 Service file
  ansible.builtin.copy:
    src: files/ceos2.service
    dest: /etc/systemd/system/container-ceos2.service
    mode: "0644"
    group: root
    owner: root

- name: Start and enable Ceos2 podman service
  ansible.builtin.service:
    name: container-ceos2.service
    state: started
    enabled: true
