---
- name: Fetch image to EE
  ansible.builtin.fetch:
    src: /images/{{ network_image }}
    dest: /tmp/
    flat: true
  delegate_to: aapcontroller1.shadowman.dev
  become: false
  run_once: true

- name: Change Boot Variable to new image
  cisco.ios.ios_config:
    commands:
      - no boot system
      - boot system flash:{{ network_image }}
    save_when: always

- name: Reload the Device
  ansible.netcommon.cli_command:
    command: reload
    prompt:
      - confirm
    answer:
      - "y"

- name: Wait for device to come back online
  ansible.builtin.wait_for_connection:
    delay: 90
    timeout: 1000
